.header{
    display:flex;
    flex-direction:column;
    height:11%;
}

#profilephoto{
    height:3rem;
    width:3rem;
    margin-top:15%;
}

.services{
    flex-direction:column;
}

.service{
    width:93%;
    margin:1rem;
}
